<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hdxw</title>
    </head>
    <body>
        <a href="./hdxw">这是华大新闻的站点</a>
        <br>
        <a href="{{url[0]}}">{{title[0]}}</a>
        <br>
        <a href="{{url[1]}}">{{title[1]}}</a>
        <br>
        <a href="{{url[2]}}">{{title[2]}}</a>
        <br>
        <a href="{{url[3]}}">{{title[3]}}</a>
        <br>
        <a href="{{url[4]}}">{{title[4]}}</a>
        <br>
        <a href="{{url[5]}}">{{title[5]}}</a>
        <br>
        <a href="{{url[6]}}">{{title[6]}}</a>
        <br>
        <a href="{{url[7]}}">{{title[7]}}</a>
        <br>
        <a href="{{url[8]}}">{{title[8]}}</a>
        <br>
        <a href="{{url[9]}}">{{title[9]}}</a>
    </body>
    </html>